<html>
<head>
<style>
body
{
border:3px solid black;
background-color:#ff847c;
padding:10px;
}
.center
{
display:block;
margin-left:auto;
margin-right:auto;
}
</style>
<title>home page </title>
</head>
<body>
<center>
<img src="D:\nishu p\flask1 app\templates\video.gif" width="70%" height="70%">
<p style="color:black;font-size:20px;">A wind turbine, or alternatively referred to as a wind energy converter, is a device that converts the wind's kinetic energy into electrical energy. Wind turbines are manufactured in a wide range of vertical and horizontal axis.
 wind turbine component reliability models, an enhanced reliability model will be developed - taking into account of environmental conditions such as cloudy, sunny ,windy and rainy .
</p>
<h2><a href="http://localhost:5000/"> click here to see the wind energy based on weather conditions </a></h2>
</center>
</body>
</html>